.card-title {
    color: var(--black);
}

.card {
    width: 255px;
    height: 290px;
}

.petName {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: var(--black);
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;

}

.select {
    display: flex;
    width: 18.125rem;
    padding: 1rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid rgba(7, 30, 34, 0.30);
}

.cardBody {
    padding: 1rem;
}

.petIcons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.iconsInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--black);
    font-weight: 300;
    font-size: 11px;
}

.adoptBtn {
    width: 95px;
    height: 31px;
    background-color: var(--pink);
    border-radius: 15px;
    color: var(--black);
    font-weight: 300;
    font-size: 10px;
}

.petContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.featuredPetsGrid {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

@media (max-width: 450px) {
    .featuredPetsGrid {
        display: flex;
        gap: 2rem;
        overflow-x: auto;
        width: 18rem;
    }
}

.loadMore {
    width: 11.75rem;
    height: 3.625rem;
    flex-shrink: 0;
    background-color: #FFCB7766;
    border-radius: 15px;
    margin-left: 2.5rem;
}

.loadContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 6rem;

}

.loading {
    display: flex;
    justify-content: center;
    margin-right: 6rem;
    margin-top: 2rem;
}