.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    padding: 1rem 10rem 10rem 10rem;
    align-items: center;
}

.heading {
    font-size: var(--subheader);
    font-weight: 400;
    color: var(--black);
    padding-bottom: 1rem;
}

.header {
    position: sticky;
    top: 0;
}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
        padding: 3rem;
    }
}