.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    min-height: 100vh;
}

.heading {
    font-size: var(--subheader);
    font-weight: 400;
    color: var(--black);
    padding-bottom: 1rem;
}