.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    padding: 1rem 10rem 10rem 10rem;
    align-items: center;

}

.heading {
    font-size: var(--subheader);
    font-weight: 400;
    color: var(--black);
    padding-bottom: 1rem;
}

.header {
    margin-top: 0;
    position: sticky;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
        padding: 3rem;
    }
}