.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 0;

}

.header {
    margin-top: 0;
    position: sticky;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0;
}


.headerIcons {
    margin: 20px;
}

.accordion {
    padding-top: 10rem;
    padding-left: 20rem;
}

.title {
    color: var(--teal);
    font-size: 1.5rem;
}

.faqInfo {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}