.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 0;
}

.header {
    margin-top: 0;
    position: sticky;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0;
}

.headerIcons {
    margin: 20px;
}

.accordion {
    padding-top: 10rem;
    padding-left: 20rem;
}

.title {
    color: var(--teal);
    font-size: 1.5rem;
}

.faqInfo {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.adoption {
    display: flex;
    flex-direction: column;
    width: 55rem;
    gap: 15px;
}

.adoptBtn {
    font-weight: 300;
    font-size: 20px;
    color: var(--teal);
    border-radius: 15px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 271px;
    height: 55px;
}

.disclaimer {
    display: flex;
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 450px) {
    .accordion {
        padding-top: 5rem;
        padding-left: 0;
    }
}