@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
  background-color: var(--white);
}
:root{
  --font-family: 'Lexend';
  --header: 2.5rem;
  --subheader: 1.5625rem;
  --padding: 2rem;
  --border-radius: 20px;

  --black:#071E22;
  --white:#FBF7F5;
  --teal:#1D7874;
  --pink:#F6B7CC;
  --yellow:#FFCB77;
}

body{
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
