/* before the fold */

.main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding-bottom: 0;
    padding-top: 0;
}

.header {
    position: sticky;
    top: 0;

}


.tagline {
    font-size: var(--header);
    font-weight: 400;
    color: var(--black);
    line-height: 50px;
}

.ctaBtns {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 2rem;
}

.beforeFold {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    padding-top: 0;
}

.foldContent {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.taglineCta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* below the fold */

.aboutHeader {
    font-size: var(--header);
    font-weight: 400;
    line-height: 50px;
    color: var(--teal);
}

.volunteerContainer {
    padding-top: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 89rem;
    gap: 5rem;
}

.volunteerImgs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 20rem;
    gap: 36px;
    justify-content: center;
}

.volunteerThumb {
    width: 358px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}

.about {
    font-size: var(--subheader);
    font-weight: 300;
    line-height: 31.25px;
    color: var(--black);
}

/* featured pets */

.featuredPetsContainer {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredPets {
    font-size: var(--header);
    font-weight: 400;
    line-height: 50px;
    color: var(--teal);
}

.featHeader {
    display: flex;
    flex-direction: row;
    width: 68rem;
    justify-content: space-between;
    align-items: center;
}

.featuredPetsGrid {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}


/* support section */


.supportHeader {
    font-size: var(--header);
    font-weight: 400;
    line-height: 50px;
    color: var(--teal);
}

.supportContainer {
    display: flex;
    flex-direction: column;
    width: 60rem;
    gap: 36px;
    justify-content: center;
}

.volunteer2Container {
    display: flex;
    width: 68rem;
    height: 50rem;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}


.supportImgs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.supportThumb {
    width: 358px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}

.support {
    font-size: var(--subheader);
    font-weight: 300;
    line-height: 31.25px;
    color: var(--black);
}

.supportDog {
    margin-right: -40px;
}

.featResourceContainer {
    display: flex;
    flex-direction: column;
    width: 68rem;
}

.featResourceCard {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.featResourceHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}