.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    flex: 0 0 auto;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10rem;
}

.left {
    flex: 1;
    text-align: left;
}

.right {
    flex: 1;
    padding-left: 20rem;
}

.footer {
    flex: 0 0 auto;
}