.main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    color: var(--white);
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 0;
}

.header {
    margin-top: 0;
    position: sticky;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.title {
    color: var(--black);
    font-size: 2rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desc {
    color: var(--black);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pug {
    margin-right: 1rem;
}

.header {
    position: sticky;
    top: 0;

}

.footer {
    bottom: 0;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 5rem;
}

@media (max-width: 450px) {
    .cards {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}