.button {
    display: flex;
    gap: 0.5rem;
    width: 13rem;
    height: 3.625rem;
    flex-shrink: 0;
    background-color: #FFCB7766;
    border-radius: 15px;
    margin-left: 2.5rem;
    padding: 1rem 3rem;
}