.btn {
  width: 250px;
  height: 80px;
  border-radius: var(--border-radius);
  border: var(--black) solid 1px;
  color: var(--black);
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: 300;
}

.btn:hover {
  background-color: var(--pink);
  border: none;
}

@media (max-width: 700px) {
  .btn {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn {
    width: 10rem;
    font-size: 1rem;
  }
}