.container {
    margin: 0;
    background-color: var(--white);
    width: auto;
    border: 0;
    height: 9.063rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.links {
    display: flex;
    flex-direction: row;

}

.animals {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    margin-right: 3.375rem;
}

.adoption {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    margin-right: 3.375rem;
}

.resources {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
}

.mobile,
.openMenu {
    display: none;
}

@media (max-width: 450px) {
    .container {
        display: flex;
        justify-content: space-between;
        min-width: 100vw;
        padding: 0 3rem;
    }

    .mobile {
        display: block;
    }

    .openMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: right;
        right: 10%;
        top: 70%;
        gap: 2rem;
        padding: 1rem;
        background-color: var(--white);
        border-radius: 10px;
    }

    .links {
        display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-between;
        min-width: 100vw;
        padding: 0 3rem;
    }

    .mobile {
        display: block;
    }

    .openMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: right;
        right: 10%;
        top: 70%;
        gap: 2rem;
        padding: 1rem;
        background-color: var(--white);
        border-radius: 10px;
    }

    .links {
        display: none;
    }
}