.card-title{
    color: var(--black);
}

.card {
    width: 255px;
    height: 290px;
  }

.petName {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: var(--black); 
  }

  .cardBody {
    padding: 1rem;
  }
  
  .petIcons{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .iconsInfo{
    display: flex;
    flex-direction: row;
    gap:10px;
    color: var(--black);
    font-weight: 300;
    font-size: 11px;
  }

  .adoptBtn{
    width: 95px;
    height: 31px;
    background-color: var(--pink);
    border-radius: 15px;
    color: var(--black);
    font-weight: 300;
    font-size: 10px;
  }

  .petContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .featuredPetsGrid {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px; 
  }