.btn {
    width: 286px;
    height: 80px;
    border-radius: var(--border-radius);
    background-color: var(--teal);
    color: var(--white);
    transition: background-color 0.3s ease; 
    font-size: 30px;
    font-weight: 300;
  }
  
